body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
  }
  
  .container {
    background-color: #0c0f18;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
  }
  
  header {
    color: white;
    padding: 15px;
  }
  
  header h1 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    border-radius: 15px;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    text-align: center;
  }

  nav ul li {
    display: inline-block;
    margin-left: 5px;
  }
  
  nav ul li a {
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #0c0f18;
    text-decoration: none;
    font-size: 15px;
    transition: all 0.3s;
    border-radius: 5px;
  }
  
  nav ul li a:hover {
    color: white;
    opacity: 70%;
    background-color: #0a0b0f;
  }
  
  section {
    padding: 20px;
  }
  
  section h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: #0c0f18;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .product {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    position: relative;
    overflow: hidden;
  }
  .red{
    color: rgb(175, 0, 0);
    text-decoration: underline;
  }
  .center{
    text-align: center;
  }
  .product img {
    max-width: 100%;
    margin-bottom: 15px;
    transition: transform 0.3s;
  }
  

  .product h2 {
    text-align: left;
    scale: 1.0;
    opacity: 0%;
    transition: all 0.2s;
  }
  
  .product:hover h2 {
    opacity: 100%;
  }
  
  .product h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .product p {
    color: #777;
    margin-bottom: 15px;
  }
  



  .fejleszto {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }
  
  .fejleszto img {
    max-width: 100%;
    margin-bottom: 15px;
    transition: transform 0.3s;
  }
  
  .fejleszto:hover img {
    transform: scale(1.1);
  }
  .fejleszto h2 {
    text-align: left;
    scale: 1.5;
    transition: all 0.3s;
  }
  
  .fejleszto:hover h2 {
    scale: 1.0;
  }
  
  .fejleszto h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .fejleszto p {
    color: #777;
    margin-bottom: 15px;
    scale: 1.5;
    transition: all 0.4s;
  }
  .fejleszto p:hover {
    color: #777;
    margin-bottom: 15px;
    scale: 1.0;
  }

  img{
    border-radius: 15px;
  }





  .price {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .currency {
    font-weight: bold;
  }
  
  .download {
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.4s;
  }
  
  .download:hover {
    background-color: rgb(236, 236, 236);
    color: black;
    opacity: 70%;
  }
  .games{
    text-decoration: none;
    background-color: #53ac4f;
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.4s;
    padding: 0.4cm;
    margin-left: -4cm;
  }
  .gameicon{
    margin-left: 1cm;
    height: 3cm;
    width: 5cm;
  }
  .description {
    text-decoration: none;
    background-color: #525252;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.4s;
  }
  
  .description:hover {
    background-color: rgb(236, 236, 236);
    color: black;
    opacity: 70%;
  }
  
  .footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  #custom-script-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  #custom-script-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  #custom-script-btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.3);
  }
  